html, body, .container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  transition: background-color 1.3s;
  color: white;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center-content {
  align-items: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.main-section {
  flex: 1 0 auto;
}

h1 {
  color: white;
}

div.box {
  align-self: center;
  width: 85%;
  border: solid 2px white;
  padding-bottom: 16px;
  margin-bottom: 20px;
}

.button {
  border: none;
  background-color: rgba(255, 255, 255, 0.459);
  /* filter: invert(50%); */
  border-radius: 20%;
  height: 1.7rem;
  color: white;
}

.button:hover {
  border: none;
  background-color: rgba(255, 255, 255, 0.63);
  color: rgb(0, 0, 0);
}

.small-img {
  height: auto;
  width: 34px;
  filter: brightness(0) invert(1);
}

.small-img:hover {
  filter: brightness(0) invert(0);
}

figure.twitter-icon {
  margin: 0;
  flex: 0 1 34px;
}

footer.footer {
  background-color: rgba(221, 221, 221, 0.55);
  height: 2.5rem;
}

.bottom-section {
  align-content: center;
}


