*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: inherit;
}

.main {
  flex: 1 0 33em;
}

.main__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.quote-box {
  min-width: 12em;
  max-width: 40em;
  margin-top: 2.5em;
  border-radius: 0.2em 0.2em 0.1em 0.1em;
  padding: 0;
}

.blockquote {
  padding: 2em 1em 2em 1em;
  letter-spacing: 0.01em;
}

.blockquote :nth-child(1) + :nth-child(2) {
  margin-top: 2em;
}

.button-section {
  padding: 0.8em 1em;
  /* got the rgba color from bulma's .box */
  border-top: 1px solid rgba(10,10,10,.1);
  justify-content: space-between;
}

.button-section .button + .button {
  margin-left: 1em;
}

.title__text {
  font-weight: 400;
}

.title__text .double-quote {
  padding: 0 0.2em 0 0;
}

.title__text .double-quote:last-child {
  padding: 0 0 0 0.2em;
}

.subtitle__author {
  text-align: right;
  font-weight: 700;
}

/* fade effect for reactt css transitions */
.fade-enter {
  opacity: 0;
  transition: all 500ms ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  /* transition: all 500ms ease-in; */
}

.fade-exit {
  display: none;
}

.fade-exit.fade-exit-active {
  display: none;
}